
<div class=" user-show col-xs-8 col-xs-offset-3">

<h2>You are logged in as: <%= @user.name %></h2>
<p><%= link_to "Edit my profile", edit_user_path %></p>


<%= render partial: 'postform',locals: {button_text: "Create New"} %>

</br>
</br>
</br>

<div class = "user-show">
<p>You have posted below happy messages :</p>

<table style="width:50%" class="table-striped">

<% @user.posts.order("created_at DESC").each do |post| %>
<tr>

  <td><%= link_to post.created_at , post_path(post.id) %></td>
  <td><%= link_to 'Edit', edit_post_path %>
      <%= link_to 'Delete', post_path(post.id), :method => :delete, :data => { :confirm => "Are you sure?" } %>
  </td>
  <% end %>
  </table>


</div>


</div>
